<!DOCTYPE html>
<html lang="en" layout:decorate="layout" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Medecins</title>
</head>
<body>
<div layout:fragment="content">
    <form action="/medecins" method="get">
        <label for="mc">Mot clé</label>
        <input id="mc" name="mc" type="search">
        <input class="btn btn-primary mb-2 mt-2" type="submit" value="Rechercher">

    </form>
    <a class="btn btn-success" href="/addMedecin">Nouveau</a>
    <!--<div th:each="p:${patients}">
    <h1 th:text="${p.id+' '+p.nom+' '+p.prenom+' '+p.cin+' '+p.tel+' '+p.email+' '+p.dateNaissance}"></h1>
    </div>-->
    <table class="table table-bordred table-hover table-stripped">
        <tr class="bg-light">
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr th:each="m:${medecin}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.nom}"></td>
            <td th:text="${m.prenom}"></td>
            <td th:text="${m.email}"></td>
            <td th:text="${m.tel}"></td>
            <td><a th:href="@{/deleteMedecin(id=${m.id})}">Supprimer</a></td>
        </tr>
    </table>

</div>

</body>
</html>